<section class="standard-page  atlassian-worklife-agenda-page bcgooo">
    <div class="site-backgroun"></div>

    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom-2">
        <div class="container">
            <div class="navbar-header">
                <!-- logo -->
                <div class="site-branding">
                    <div id="w_24570973" class="widget v_31223252 swoogo-logo logo desktop-logo"
                        data-single-click-settings="on" data-resize-widget="on">
                        <div>
                            <a class="mobile-logo-img" href="/">
                                <img class="img-responsive resize-target " src="../../assets/logof.png" alt="Logo"
                                    style="">
                            </a>
                        </div>
                    </div>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items"
                    aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-btn-wrap navbar-right navbar-account">
                <ul class="nav navbar-nav navbar-right user-navbar d-flex align-items-center navbar-desktop-right">
                    <li class="dropdown">
                        <a href="/utilisation" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="span-label">Compte</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-right">
                    <ul id="w0" class="navbar-nav swoogo-nav nav">
                        <li class="v_32505614 homepage" data-id="2905673">
                            <a href="/">Home</a>
                        </li>
                        <li class="v_32505614 homepage" data-id="2905673">
                            <a href="/">FAQ</a>
                        </li>
                    </ul>

                </ul>
                <ul class="nav navbar-nav navbar-right user-navbar mobile-account">
                    <li class="dropdown">
                        <a href="/utilisation" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="span-label">Compte</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <section class="video-section section">
        <div class="container">
            <div class="content clearfix" role="main">
                <div id="w_26889844" class="widget v_34121159 swoogo-spacer">
                    <div class="resize-target" style="height:97px;"></div>

                </div>
                <div id="w_26892473" class="widget v_34124343 swoogo-spacer">
                    <div class="resize-target" style="height:50px;"></div>

                </div>
                <div id="w_26892474" class="widget v_34124344 swoogo-cols">
                    <div class="row   " style="">
                        <div class="col-sm-3">
                            <div id="w_26892476" class="widget v_34124346 swoogo-text clearfix">
                                <div class="mt-none mb-none   paragraph" style="">
                                    <h4>Digital Loop</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div id="w_26892489" class="widget v_34124362 swoogo-text clearfix">
                                <div class="mt-none mb-none   paragraph" style="">
                                    <div class="subheader2">Parcourez le contenu et
                                        explorez les astuces des experts en collaboration et obtenez des informations
                                        sur la manière de libérer le meilleur de votre travail.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="w_26896729" class="widget v_34129773 swoogo-spacer">
                    <div class="resize-target" style="height:50px;"></div>

                </div>
            </div>


        </div>







        <!-- Add Search overlay widget to the container where you wish to display the search box -->
        <div id="tn-canvas" class="tn-pcwidget" data-widgettype="overlay" data-source="sessions"
            data-eventid="GgfVUrLM0LnxnUXV8XoY8" data-searchlistingurl="event-search.html">
        </div>


        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->


        <div class="pcn-overlay-search  ">
            <div class="atl-srch-container">
                <div class="atl-srch-inner-cont">
                    <div class="atl-srch-title">Explorez notre bibliothèque de contenu à la demande</div>
                    <div class="atl-srch-subtitle">Trouvez les discours d'ouverture et les sessions qui vous intéressent
                        le plus, ou sélectionnez parmi les sujets populaires ci-dessous.</div>
                    <div class="atl-srchbox">
                        <input type="text" placeholder="Recherch indisponible" autocomplete="off" autocorrect="off"
                            autocapitalize="off" spellcheck="false" class="atl-srchbox-input" value="">
                        <span class="atl-srchbtn"></span>
                        <span class="atl-srchclr"></span>
                    </div>
                    <div class="atl-tagsbox">
                        <span class="atl-tagname">Système d'exploitation</span>
                        <span class="atl-tagname">Dossier</span>
                        <span class="atl-tagname">Fichier</span>
                        <span class="atl-tagname">Git Gitea</span>
                        <span class="atl-tagname">Vs Code</span>
                        <span class="atl-tagname">Terminal</span>
                        <span class="atl-tagname">Go</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->


        <div class="container additional">

            <div class="content clearfix">
                <div id="w_27304052"
                    class="widget v_34634879 layout-twig swoogo-agenda widget-api registrant-timezone-update">
                    <style id="w_27304052_styles"></style>
                    <div class="mt-medium mb-medium  " style="">



                        <div class="session-guide el-144" data-uid="144">
                            <div class="session-guide__type-group-wrap">
                                <div class="top-pagination-wrap">
                                    <div class="pagination-container"></div>
                                </div>
                                <div class="session-guide__row row" data-group-filter-type=""
                                    data-group-filter-subtype="">

                                    <div class=""></div>
                                    <div class="session-guide__el filter_el" data-type="" data-track=""
                                        data-user_level="" data-user_team="" data-deployment="" data-product=""
                                        data-solution="" data-theme="keynote" data-id="1198762"
                                        data-entry_id="1_yeow5v61">
                                        <div class="session-guide__thumbnail session-live"
                                            style="background-image: url(../../assets/unleash/2367959-63ec1756c8a81.png);">
                                            <div class="session-guide__type">Système d'Exploitation</div>
                                            <div class="session-guide__duration">45</div>
                                            <a class="session-guide__live-link"
                                                href="https://youtu.be/9MFQEFHTFP4">
                                                <!--i class="fas fa-play-circle"></i-->
                                            </a>
                                        </div>
                                        <div class="session-guide__data session-details">
                                            <div class="bookmark-icon session-item-bookmark" data-id="1198762">

                                            </div>
                                            <div class="session-guide__info">
                                                <div class="session-guide__name">
                                                    <a class="show-details-custom session-link"
                                                        href="session/1198762/devs-unleashed.html"
                                                        title="Session Details"
                                                        data-url="https://events.atlassian.com/unleash/session/1198762/devs-unleashed"
                                                        data-title="Session Details" data-type="session"
                                                        data-video-src=""
                                                        data-video-poster="https://assets.swoogo.com/uploads/full/2367959-63ec1756c8a81.png"
                                                        data-autoplay=""
                                                        data-webinar="https://events.atlassian.com/unleash/v/s-1198762"
                                                        data-selected="no"
                                                        data-calendar="https://events.atlassian.com/frontend/add-to-calendar/choose-format?eventId=89308&amp;type=session&amp;objectId=1198762"
                                                        data-session-live="true" data-id="1198762" data-duration="55">
                                                        L'Utilisation d'ordinateur
                                                    </a>
                                                </div>
                                                <div class="session-guide__details">
                                                    <div class="session-guide__link">
                                                        <a class="show-details-custom session-link"
                                                            href="session/1198762/devs-unleashed.html"
                                                            title="Session Details"
                                                            data-url="https://events.atlassian.com/unleash/session/1198762/devs-unleashed"
                                                            data-title="Session Details" data-type="session"
                                                            data-video-src=""
                                                            data-video-poster="https://assets.swoogo.com/uploads/full/2367959-63ec1756c8a81.png"
                                                            data-autoplay=""
                                                            data-webinar="https://events.atlassian.com/unleash/v/s-1198762"
                                                            data-selected="no"
                                                            data-calendar="https://events.atlassian.com/frontend/add-to-calendar/choose-format?eventId=89308&amp;type=session&amp;objectId=1198762"
                                                            data-session-live="true" data-id="1198762"
                                                            data-duration="55">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class=""></div>
                                    <div class="session-guide__el filter_el" data-type="" data-track=""
                                        data-user_level="" data-user_team="" data-deployment="" data-product=""
                                        data-solution="" data-theme="keynote" data-id="1158026"
                                        data-entry_id="1_zdseecf9">
                                        <div class="session-guide__thumbnail session-live"
                                            style="background-image: url(../../assets/unleash/2365053-63eae9c9e2105.png);">
                                            <div class="session-guide__type">Dossier</div>
                                            <div class="session-guide__duration">15</div>
                                            <a class="session-guide__live-link"
                                                href="https://youtu.be/C5uUHlkQR4Y">
                                                <!--i class="fas fa-play-circle"></i-->
                                            </a>
                                        </div>
                                        <div class="session-guide__data session-details">
                                            <div class="bookmark-icon session-item-bookmark" data-id="1158026">

                                            </div>
                                            <div class="session-guide__info">
                                                <div class="session-guide__name">
                                                    <a class="show-details-custom session-link"
                                                        href="session/1158026/level-up-to-multiplayer-mode.html"
                                                        title="Session Details"
                                                        data-url="https://events.atlassian.com/unleash/session/1158026/level-up-to-multiplayer-mode"
                                                        data-title="Session Details" data-type="session"
                                                        data-video-src=""
                                                        data-video-poster="https://assets.swoogo.com/uploads/full/2365053-63eae9c9e2105.png"
                                                        data-autoplay=""
                                                        data-webinar="https://events.atlassian.com/unleash/v/s-1158026"
                                                        data-selected="no"
                                                        data-calendar="https://events.atlassian.com/frontend/add-to-calendar/choose-format?eventId=89308&amp;type=session&amp;objectId=1158026"
                                                        data-session-live="true" data-id="1158026" data-duration="55">
                                                        Qest-ce qu'un dossier?
                                                    </a>
                                                </div>
                                                <div class="session-guide__details">
                                                    <div class="session-guide__link">
                                                        <a class="show-details-custom session-link"
                                                            href="session/1158026/level-up-to-multiplayer-mode.html"
                                                            title="Session Details"
                                                            data-url="https://events.atlassian.com/unleash/session/1158026/level-up-to-multiplayer-mode"
                                                            data-title="Session Details" data-type="session"
                                                            data-video-src=""
                                                            data-video-poster="https://assets.swoogo.com/uploads/full/2365053-63eae9c9e2105.png"
                                                            data-autoplay=""
                                                            data-webinar="https://events.atlassian.com/unleash/v/s-1158026"
                                                            data-selected="no"
                                                            data-calendar="https://events.atlassian.com/frontend/add-to-calendar/choose-format?eventId=89308&amp;type=session&amp;objectId=1158026"
                                                            data-session-live="true" data-id="1158026"
                                                            data-duration="55">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class=""></div>
                                    <div class="session-guide__el filter_el" data-type="" data-track=""
                                        data-user_level="" data-user_team="" data-deployment="" data-product=""
                                        data-solution="" data-theme="breakout" data-id="1248301"
                                        data-entry_id="1_l0oj28ef">
                                        <div class="session-guide__thumbnail session-live"
                                            style="background-image: url(../../assets/unleash/2365051-63eae9c997e4e.png);">
                                            <div class="session-guide__type">Fichier</div>
                                            <div class="session-guide__duration">30</div>
                                            <a class="session-guide__live-link"
                                            href="https://youtu.be/C5uUHlkQR4Y">
                                            <!--i class="fas fa-play-circle"></i-->
                                            </a>
                                        </div>
                                        <div class="session-guide__data session-details">
                                            <div class="bookmark-icon session-item-bookmark" data-id="1248301">

                                            </div>
                                            <div class="session-guide__info">
                                                <div class="session-guide__name">
                                                    <a class="show-details-custom session-link"
                                                        href="session/1248301/a-cultivated-devops-platform-technical-walkthrough.html"
                                                        title="Session Details"
                                                        data-url="https://events.atlassian.com/unleash/session/1248301/a-cultivated-devops-platform-technical-walkthrough"
                                                        data-title="Session Details" data-type="session"
                                                        data-video-src=""
                                                        data-video-poster="https://assets.swoogo.com/uploads/full/2365051-63eae9c997e4e.png"
                                                        data-autoplay=""
                                                        data-webinar="https://events.atlassian.com/unleash/v/s-1248301"
                                                        data-selected="no"
                                                        data-calendar="https://events.atlassian.com/frontend/add-to-calendar/choose-format?eventId=89308&amp;type=session&amp;objectId=1248301"
                                                        data-session-live="true" data-id="1248301" data-duration="30">
                                                        Qest-ce qu'un fichier?
                                                    </a>
                                                </div>
                                                <div class="session-guide__details">
                                                    <div class="session-guide__link">
                                                        <a class="show-details-custom session-link"
                                                            href="session/1248301/a-cultivated-devops-platform-technical-walkthrough.html"
                                                            title="Session Details"
                                                            data-url="https://events.atlassian.com/unleash/session/1248301/a-cultivated-devops-platform-technical-walkthrough"
                                                            data-title="Session Details" data-type="session"
                                                            data-video-src=""
                                                            data-video-poster="https://assets.swoogo.com/uploads/full/2365051-63eae9c997e4e.png"
                                                            data-autoplay=""
                                                            data-webinar="https://events.atlassian.com/unleash/v/s-1248301"
                                                            data-selected="no"
                                                            data-calendar="https://events.atlassian.com/frontend/add-to-calendar/choose-format?eventId=89308&amp;type=session&amp;objectId=1248301"
                                                            data-session-live="true" data-id="1248301"
                                                            data-duration="30">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>






                                    <div class=""></div>
                                    <div class="session-guide__el filter_el" data-type="" data-track=""
                                        data-user_level="" data-user_team="" data-deployment="" data-product=""
                                        data-solution="" data-theme="breakout" data-id="1247806"
                                        data-entry_id="1_lr5evslh">
                                        <div class="session-guide__thumbnail session-live"
                                            style="background-image: url(../../assets/unleash/2367966-63ec17fc95757.png);">
                                            <div class="session-guide__type">Git Gitea</div>
                                            <div class="session-guide__duration">32</div>
                                            <a class="session-guide__live-link"
                                                href="https://www.youtube.com/channel/UCk3zKsAg2QXPt672oRxpaJw/">
                                                <!--i class="fas fa-play-circle"></i-->
                                            </a>
                                        </div>
                                        <div class="session-guide__data session-details">
                                            <div class="bookmark-icon session-item-bookmark" data-id="1247806">

                                            </div>
                                            <div class="session-guide__info">
                                                <div class="session-guide__name">
                                                    <a class="show-details-custom session-link"
                                                        href="session/1247806/how-we-created-jira-product-discovery.html"
                                                        title="Session Details"
                                                        data-url="https://events.atlassian.com/unleash/session/1247806/how-we-created-jira-product-discovery"
                                                        data-title="Session Details" data-type="session"
                                                        data-video-src=""
                                                        data-video-poster="https://assets.swoogo.com/uploads/full/2367966-63ec17fc95757.png"
                                                        data-autoplay=""
                                                        data-webinar="https://events.atlassian.com/unleash/v/s-1247806"
                                                        data-selected="no"
                                                        data-calendar="https://events.atlassian.com/frontend/add-to-calendar/choose-format?eventId=89308&amp;type=session&amp;objectId=1247806"
                                                        data-session-live="true" data-id="1247806" data-duration="32">
                                                        Qest-ce que Github et Gitea? comment utiliser
                                                    </a>
                                                </div>
                                                <div class="session-guide__details">
                                                    <div class="session-guide__link">
                                                        <a class="show-details-custom session-link"
                                                            href="session/1247806/how-we-created-jira-product-discovery.html"
                                                            title="Session Details"
                                                            data-url="https://events.atlassian.com/unleash/session/1247806/how-we-created-jira-product-discovery"
                                                            data-title="Session Details" data-type="session"
                                                            data-video-src=""
                                                            data-video-poster="https://assets.swoogo.com/uploads/full/2367966-63ec17fc95757.png"
                                                            data-autoplay=""
                                                            data-webinar="https://events.atlassian.com/unleash/v/s-1247806"
                                                            data-selected="no"
                                                            data-calendar="https://events.atlassian.com/frontend/add-to-calendar/choose-format?eventId=89308&amp;type=session&amp;objectId=1247806"
                                                            data-session-live="true" data-id="1247806"
                                                            data-duration="32">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>





                                    <div class=""></div>
                                    <div class="session-guide__el filter_el" data-type="" data-track=""
                                        data-user_level="" data-user_team="" data-deployment="" data-product=""
                                        data-solution="" data-theme="breakout" data-id="1247807"
                                        data-entry_id="1_xqvk2rp7">
                                        <div class="session-guide__thumbnail session-live"
                                            style="background-image: url(../../assets/unleash/2365047-63eae9c95229e.png);">
                                            <div class="session-guide__type">VS Code</div>
                                            <div class="session-guide__duration">21</div>
                                            <a class="session-guide__live-link"
                                                href="https://www.youtube.com/channel/UCk3zKsAg2QXPt672oRxpaJw/">
                                                <!--i class="fas fa-play-circle"></i-->
                                            </a>
                                        </div>
                                        <div class="session-guide__data session-details">
                                            <div class="bookmark-icon session-item-bookmark" data-id="1247807">

                                            </div>
                                            <div class="session-guide__info">
                                                <div class="session-guide__name">
                                                    <a class="show-details-custom session-link"
                                                        href="session/1247807/microservices-%2b-platform-engineering-the-atlassian-compass-journey.html"
                                                        title="Session Details"
                                                        data-url="https://events.atlassian.com/unleash/session/1247807/microservices-+-platform-engineering-the-atlassian-compass-journey"
                                                        data-title="Session Details" data-type="session"
                                                        data-video-src=""
                                                        data-video-poster="https://assets.swoogo.com/uploads/full/2365047-63eae9c95229e.png"
                                                        data-autoplay=""
                                                        data-webinar="https://events.atlassian.com/unleash/v/s-1247807"
                                                        data-selected="no"
                                                        data-calendar="https://events.atlassian.com/frontend/add-to-calendar/choose-format?eventId=89308&amp;type=session&amp;objectId=1247807"
                                                        data-session-live="true" data-id="1247807" data-duration="21">
                                                        Qest-ce que vs code?
                                                    </a>
                                                </div>
                                                <div class="session-guide__details">
                                                    <div class="session-guide__link">
                                                        <a class="show-details-custom session-link"
                                                            href="session/1247807/microservices-%2b-platform-engineering-the-atlassian-compass-journey.html"
                                                            title="Session Details"
                                                            data-url="https://events.atlassian.com/unleash/session/1247807/microservices-+-platform-engineering-the-atlassian-compass-journey"
                                                            data-title="Session Details" data-type="session"
                                                            data-video-src=""
                                                            data-video-poster="https://assets.swoogo.com/uploads/full/2365047-63eae9c95229e.png"
                                                            data-autoplay=""
                                                            data-webinar="https://events.atlassian.com/unleash/v/s-1247807"
                                                            data-selected="no"
                                                            data-calendar="https://events.atlassian.com/frontend/add-to-calendar/choose-format?eventId=89308&amp;type=session&amp;objectId=1247807"
                                                            data-session-live="true" data-id="1247807"
                                                            data-duration="21">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class=""></div>
                                    <div class="session-guide__el filter_el" data-type="" data-track=""
                                        data-user_level="" data-user_team="" data-deployment="" data-product=""
                                        data-solution="" data-theme="breakout" data-id="1248256"
                                        data-entry_id="1_w17lab9n">
                                        <div class="session-guide__thumbnail session-live"
                                            style="background-image: url(../../assets/unleash/2368000-63ec1a86282b3.png);">
                                            <div class="session-guide__type">Terminal</div>
                                            <div class="session-guide__duration">28</div>
                                            <a class="session-guide__live-link"
                                                href="https://www.youtube.com/channel/UCk3zKsAg2QXPt672oRxpaJw/">
                                                <!--i class="fas fa-play-circle"></i-->
                                            </a>
                                        </div>
                                        <div class="session-guide__data session-details">
                                            <div class="bookmark-icon session-item-bookmark" data-id="1248256">

                                            </div>
                                            <div class="session-guide__info">
                                                <div class="session-guide__name">
                                                    <a class="show-details-custom session-link"
                                                        href="session/1248256/securing-customer-trust-in-the-cloud.html"
                                                        title="Session Details"
                                                        data-url="https://events.atlassian.com/unleash/session/1248256/securing-customer-trust-in-the-cloud"
                                                        data-title="Session Details" data-type="session"
                                                        data-video-src=""
                                                        data-video-poster="https://assets.swoogo.com/uploads/full/2368000-63ec1a86282b3.png"
                                                        data-autoplay=""
                                                        data-webinar="https://events.atlassian.com/unleash/v/s-1248256"
                                                        data-selected="no"
                                                        data-calendar="https://events.atlassian.com/frontend/add-to-calendar/choose-format?eventId=89308&amp;type=session&amp;objectId=1248256"
                                                        data-session-live="true" data-id="1248256" data-duration="28">
                                                        Qest-ce qu'un Terminal?
                                                    </a>
                                                </div>
                                                <div class="session-guide__details">
                                                    <div class="session-guide__link">
                                                        <a class="show-details-custom session-link"
                                                            href="session/1248256/securing-customer-trust-in-the-cloud.html"
                                                            title="Session Details"
                                                            data-url="https://events.atlassian.com/unleash/session/1248256/securing-customer-trust-in-the-cloud"
                                                            data-title="Session Details" data-type="session"
                                                            data-video-src=""
                                                            data-video-poster="https://assets.swoogo.com/uploads/full/2368000-63ec1a86282b3.png"
                                                            data-autoplay=""
                                                            data-webinar="https://events.atlassian.com/unleash/v/s-1248256"
                                                            data-selected="no"
                                                            data-calendar="https://events.atlassian.com/frontend/add-to-calendar/choose-format?eventId=89308&amp;type=session&amp;objectId=1248256"
                                                            data-session-live="true" data-id="1248256"
                                                            data-duration="28">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination-container"></div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </section>
</section>